.card-primary {
    border-radius: 12px;

    &__container {
        position: relative;
        z-index: 1;
        background-color: var(--white);
        border-radius: 12px;
        filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.04));
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    &__image {
        padding-bottom: percent(207, 323);
        border-radius: 12px;
        overflow: hidden;

        img {
            border-radius: 12px;
            transition: transform $transitionSpeed $transitionFunction;
        }
    }

    &__info {
        position: absolute;
        top: 15px;
        padding: 0 15px;
        width: 100%;
        display: flex;
        align-items: center;

        &--new {
            font-size: 12px;
            line-height: math.div(15, 12);
            color: var(--white);
            font-weight: 500;
            background-color: var(--blue);
            padding: 4px 8px;

            backdrop-filter: blur(2px);
            border-radius: 8px;

            position: absolute;
            top: 0;
            right: 15px;
        }

        &--dislike {
            width: 31px;
            height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--blue);
            }
        }

        &--comment {
            width: 31px;
            height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--blue);
            }
        }

        &--row {
            flex-direction: column;
        }

        &--dislike-btn,
        &--like-btn {
            align-self: start;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--white);
            backdrop-filter: blur(2px);

            border-radius: 8px;

            button {
                width: 31px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: var(--white);
                z-index: 6;
                border-radius: 8px;
                transition: border-radius $transitionSpeed $transitionFunction;

                svg {
                    width: 15px;
                    height: 15px;
                    fill: var(--blue);
                }
            }

            span {
                margin-left: 2px;

                color: var(--blue);
                font-size: 12px;
                line-height: math.div(15, 12);
                font-weight: 400;
                padding-right: 5px;
                z-index: 5;
                background-color: var(--white);

                width: 117px;
                border-radius: 0 8px 8px 0;
                position: absolute;
                left: 29px;
                transform: translateX(-100%);
                height: 100%;
                transition: transform $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction,
                    opacity $transitionSpeed $transitionFunction;

                visibility: hidden;
                opacity: 0;
                display: flex;
                align-items: center;
            }

            @media (min-width:$desktop) {
                &:hover {
                    button {
                        border-radius: 8px 0 0 8px;
                    }

                    span {
                        transform: translateX(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &--like-btn {
            margin-top: 10px;
        }

        &--btns-right {
            position: absolute;
            top: 0;
            right: 15px;
        }

        &--mortgage,
        &--quantity {
            color: var(--blue);
            font-size: 12px;
            line-height: 100%;
            height: 23px;
            padding: 0 8px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 8px;
            background-color: var(--white);
            backdrop-filter: blur(2px);
        }

        &--mortgage {}

        &--quantity {}

        &--favorite {
            width: 20px;
            height: 18px;

            svg {
                width: 20px;
                height: 18px;
                fill: var(--white);
            }
        }

        &--controls {
            margin-top: 10px;

            .dots-dropdown__target {
                background-color: var(--white);
                width: 20px;
                height: 20px;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                z-index: 999;

                svg {
                    width: 12px;
                    height: 12px;
                    fill: var(--gray);
                }

                &:hover {
                    background-color: var(--primary100);
                }
            }
        }

        .row {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__content {
        padding: 20px 24px 16px;

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }

    &__price {}

    &__price-old {
        display: flex;
        align-items: center;
        color: var(--primaryTwo);

        span {
            &:nth-child(1) {
                color: var(--primaryTwo);
                font-size: 15px;
                line-height: math.div(19, 15);
                font-weight: 400;

                span {
                    position: relative;

                    &::before {
                        content: '';
                        border-bottom: 1px solid currentColor;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        transform: rotate(-5deg);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: 4px;
                padding: 2px 4px;
                color: var(--green);
                background: rgba(36, 202, 142, 0.1);
                border-radius: 8px;
                font-size: 12px;
                line-height: math.div(15, 12);
                font-weight: 400;
            }
        }
    }

    &__price-new {
        margin-top: 2px;

        span {
            &:nth-child(1) {}

            &:nth-child(2) {
                color: var(--primaryTwo);
                font-size: 10px;
                line-height: 100%;
                font-weight: 400;
            }
        }
    }

    &__name {
        margin-top: 26px;
    }

    &__address {
        margin-top: 5px;
        font-size: 12px;
        line-height: math.div(15, 12);

        &--one {
            display: block;
            font-weight: 500;
            color: var(--dark);
        }

        &--two {
            &:not(:first-child) {
                margin-top: 5px;
            }

            display: block;
            color: var(--primary600)
        }
    }

    &__text {
        margin-right: 17px;
        display: none;
        font-size: 15px;
        line-height: math.div(19, 15);
        color: var(--dark);
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.37%);
        }
    }

    &__user {
        margin-top: auto;
        border-top: 1px solid var(--primary100);
        padding: 16px 24px;

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }

    &.card-primary--no-user {
        .card-primary {
            &__content {
                padding-bottom: 20px;
            }

            &__text {
                margin-bottom: 65px;
            }
        }
    }

    &:hover {
        .card-primary__image {
            img {
                transform: scale(1.02);
            }
        }
    }
}
