.card-info {
    background-color: var(--primary600);
    border-radius: 13px;
    position: relative;
    overflow: hidden;

    &__title {
        position: relative;
        z-index: 2;
        padding: 26px 20px 92px;

        color: var(--white);
        font-size: 20px;
        line-height: math.div(27, 20);
        display: block;

        max-width: 245px;
    }

    &__image {
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
        bottom: 0;
        width: 0;
        width: 100%;
        height: 90%;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/banner-blur.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
