.main-table {
    width: 100%;
    background-color: var(--primary100);
    border-radius: 16px;
    // padding: 24px 16px;
    padding: 32px;
    &__table {}

    &__type {
        display: grid;
        grid-template-columns:
            percent(150, 1016) percent(304, 1016) percent(328, 1016) percent(174, 1016);
        grid-column-gap: 15px;
        justify-content: space-between;

        >span {
            margin-left: 20px;
            color: var(--primaryTwo);
            font-size: 12px;
            line-height: math.div(15, 12);
            font-weight: 400;
        }

        @media (max-width:$desktop) {
            display: none !important; // need hack
        }
    }

    &__list {
        margin-top: 16px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;

            @media (max-width:$desktop) {
                margin-bottom: 8px;
            }
        }
    }

    &__next {
        margin-top: 32px;
        width: 100%;

        button {
            width: 100%;
        }

        @media (max-width:$desktop) {
            margin-top: 24px;
            padding: 0 $containerOffset+px;
        }
    }

    &__pagination {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:$desktop) {
            margin-top: 16px;
            padding: 0 $containerOffset+px;
        }
    }

    @media (max-width:$desktop) {
        padding: 0;
    }
}
