.object-info {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    color: var(--dark);
    display: grid;
    align-items: center;
    grid-column-gap: 20px;
    justify-content: space-between;
    grid-template-columns: percent(141, 952) percent(299, 1016) max-content 1fr percent(160, 1016);
    padding: 27px 40px 27px 24px;
    -webkit-tap-highlight-color: transparent;

    &__type {
        font-size: 18px;
        line-height: math.div(23, 18);
        font-weight: 500;

        @media (max-width:$desktop) {
            order: 1;
            grid-column: 1/2;
        }
    }

    &__parameter {
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;

        @media (max-width:$desktop) {
            order: 3;
            grid-column: 1/2;
        }

        @media (max-width:$smallTablet-max) {
            font-size: 13px;
            max-width: 110px;
        }
    }

    &__price {
        font-size: 18px;
        line-height: math.div(23, 18);
        font-weight: 500;
        white-space: nowrap;

        @media (max-width:$desktop) {
            order: 2;
            grid-column: 2/3;
            justify-self: end;
        }
    }

    &__tooltips {
        display: flex;

        @media (max-width:$desktop) {
            order: 4;
            grid-column: 2/3;
            justify-self: end;
        }
    }

    &__tooltip {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__from {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 4px;

        @media (max-width:$desktop) {
            order: 5;
            grid-column: 1/-1;
            padding-top: 20px;
            border-top: 1px solid var(--primary100);
        }

        @media (max-width:$smallTablet-max) {
            grid-column-gap: 8px;
        }
    }

    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 40px;
        height: 40px;
    }

    &__pos {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 12px;
        line-height: math.div(15, 12);
        color: var(--primaryTwo);

    }

    &__name {
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 15px;
        line-height: math.div(19, 15);
        justify-self: start;
        white-space: nowrap;
    }

    @media (max-width:$desktop) {
        grid-template-columns: 1fr max-content;
        grid-row-gap: 24px;
    }

    @media (max-width:$smallTablet-max) {
        padding: 16px;
    }
}



.object-info-secondary {
    width: 100%;
    background-color: var(--white);
    border: 1px solid #EBF1FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: var(--dark);
    display: grid;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-columns: percent(268, 914) max-content 1fr;
    padding: 24px 24px 22px;

    -webkit-tap-highlight-color: transparent;
    transition: background-color $transitionSpeed $transitionFunction;

    &__type {
        span {
            display: block;
            color: var(--dark);

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:nth-child(1) {
                font-size: 18px;
                line-height: math.div(23, 18);
                font-weight: 500;

                @media (max-width:$desktop) {
                    &::after {
                        content: ',';
                    }
                }
            }

            &:nth-child(2) {
                font-size: 15px;
                line-height: math.div(19, 15);

                @media (max-width:$desktop) {
                    margin-left: 2px;
                }
            }
        }

        @media (max-width:$desktop) {
            display: flex;
            align-items: center;

            span {
                &:nth-child(1) {
                    font-size: 15px;
                }

                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__time-geo {
        span {
            display: flex;
            align-items: center;
            color: var(--primary600);
            font-size: 15px;
            line-height: math.div(19, 15);

            svg {
                width: 18px;
                height: 18px;
                fill: var(--primaryTwo);
                margin-right: 10px;

                @media (max-width:$desktop) {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:nth-child(1) {
                font-weight: 500;

                svg {
                    stroke: var(--primaryTwo);
                    fill: none;
                }
            }

            &:nth-child(2) {
                font-weight: 400;
            }
        }

        @media (max-width:$desktop) {
            margin-top: 16px;

            span {
                font-size: 12px;
            }
        }
    }

    &__from {
        margin-left: auto;

        @media (max-width:$desktop) {
            margin-left: 0;
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid var(--primary100);
        }
    }

    @media (min-width:$desktop) {
        &:hover {
            background-color: rgba(235, 241, 251, 0.5);
        }
    }

    @media (max-width:$desktop) {
        grid-template-columns: 1fr;
        padding: 16px;
        box-shadow: none;
    }
}


.object-info-third {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;


    color: var(--dark);
    display: grid;
    align-items: center;
    grid-column-gap: 32px;
    grid-row-gap: 8px;
    grid-template-columns: percent(300, 968) percent(280, 968) percent(280, 968) 1fr;
    padding: 24px 24px 24px 24px;

    -webkit-tap-highlight-color: transparent;
    transition: background-color $transitionSpeed $transitionFunction;

    &__type-mobile {
        order: 1;
        grid-row: 1/2;
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: var(--primaryTwo);
            font-size: 12px;
            line-height: math.div(15, 12);
        }

        @media (min-width:$smallTablet-min) {
            display: none;
        }
    }

    &__line-mobile {
        margin: 16px 0 8px;
        order: 4;
        grid-column: 1/-1;
        background-color: var(--primary100);
        width: 100%;
        height: 1px;

        @media (min-width:$smallTablet-min) {
            display: none;
        }
    }

    &__from {
        &.user-info {
            grid-column-gap: 16px;
            grid-template-columns: 45px 1fr;

            .user-info {
                &__avatar {
                    width: 45px;
                    height: 45px;

                    @media (max-width:$smallTablet-max) {
                        width: 40px;
                        height: 40px;
                    }
                }

                &__pos {
                    font-size: 15px;
                    line-height: math.div(19, 15);
                    color: var(--primaryTwo);

                    @media (max-width:$smallTablet-max) {
                        font-size: 12px;
                    }
                }

                &__name {
                    color: var(--dark);
                    font-size: 18px;
                    line-height: math.div(23, 18);
                    font-weight: 500;

                    @media (max-width:$smallTablet-max) {
                        font-size: 15px;
                    }
                }
            }

            @media (max-width:$smallTablet-max) {
                grid-column-gap: 8px;
                grid-template-columns: 40px 1fr;
            }
        }

        @media (max-width:$smallTablet-max) {
            order: 5;
        }
    }

    &__quantity {
        text-align: center;
        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;

        @media (max-width:$smallTablet-max) {
            font-size: 18px;
            font-weight: 400;
            order: 2;
            text-align: left;
        }
    }

    &__offers {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--green);

        svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
            margin-right: 10px;

            @media (max-width:$smallTablet-max) {
                height: 15px;
                width: 15px;
            }
        }

        span {
            color: inherit;
            font-size: 15px;
            line-height: math.div(19, 15);
            font-weight: 400;

            @media (max-width:$smallTablet-max) {
                font-size: 12px;
            }
        }

        &--true {}

        &--false {
            color: var(--primary200);
        }

        @media (max-width:$smallTablet-max) {
            order: 3;
        }
    }

    &__controls {
        justify-self: end;

        @media (max-width:$smallTablet-max) {
            order: 6;
        }
    }

    @media (max-width:$desktop) {
        grid-column-gap: 16px;
    }

    @media (max-width:$smallTablet-max) {
        grid-template-columns: 1fr minmax(120px, max-content);
        padding: 24px 16px 16px;
    }
}




.object-info-grade {
    width: 100%;
    background: var(--white);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 24px;
    grid-column-gap: 40px;
    display: grid;
    grid-template-columns: percent(332, 1016) percent(356, 1016) 1fr;
    align-items: center;
    transition: box-shadow $transitionSpeed $transitionFunction;

    &__from {
        grid-template-columns: 45px 1fr;

        .user-info {
            &__avatar {
                width: 45px;
                height: 45px;

                @media (max-width:$desktop) {
                    width: 40px;
                    height: 40px;
                }
            }

            &__pos {
                font-size: 15px;
                line-height: math.div(19, 15);

                @media (max-width:$desktop) {
                    font-size: 12px;
                }
            }

            &__name {
                font-weight: 500;
                font-size: 18px;
                line-height: math.div(23, 18);

                @media (max-width:$desktop) {
                    font-size: 15px;
                }
            }
        }

        @media (max-width:$desktop) {
            grid-template-columns: 40px 1fr;
        }
    }

    &__quantity {
        font-size: 14px;
        line-height: math.div(18, 14);
        color: var(--dark);
        font-weight: 500;

        @media (max-width:$desktop) {
            font-size: 12px;
            justify-self: end;
        }

        @media (max-width:$mobile-max) {
            display: flex;
            flex-direction: column;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-self: end;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--yellow);

            @media (max-width:$desktop) {
                width: 12px;
                height: 12px;
            }
        }

        &--number {
            margin-left: 4px;

            color: var(--dark);
            font-size: 14px;
            line-height: math.div(18, 14);
            font-weight: 500;

            @media (max-width:$desktop) {
                font-size: 12px;
            }
        }

        &--quantity {
            margin-left: 4px;

            color: var(--dark);
            font-size: 14px;
            line-height: math.div(18, 14);

            @media (max-width:$desktop) {
                font-size: 12px;
            }
        }

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            justify-self: start;
        }
    }

    &__stars {
        justify-self: center;
        display: flex;
        align-items: center;

        svg {
            &:not(:last-child) {
                margin-right: 2px;
            }
        }
    }

    @media (min-width:$desktop-min) {
        &:hover {
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
        }
    }

    @media (max-width:$desktop) {
        grid-template-columns: max-content 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        padding: 24px 10px 24px 16px;
    }
}
