.pagination {
    --width-item: 28px;
    --height-item: 27px;
    --gap-item: 10px;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        min-width: var(--width-item);
        height: var(--height-item);
        border-radius: 7px;
        background-color: var(--white);

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 12px;
        line-height: 100%;
        color: var(--dark);
        transition: all $transitionSpeed $transitionFunction;

        &:not(:last-child) {
            margin-right: var(--gap-item);
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2px;
        }

        &[disabled] {
            background-color: var(--blue);
            color: var(--white);
            cursor: default;
            pointer-events: none;
        }

        &.dots {
            border: none;
            background-color: transparent;
            cursor: default;
            pointer-events: none;
            min-width: auto;
        }

        &:hover,
        &:focus {
            background-color: var(--blue);
            color: var(--white);
        }
    }
}
