.quantity-selection {
    background-color: var(--primary100);
    border-radius: 12px;
    padding: 6.5px 16px;

    &__subtitle {
        display: block;
        color: var(--primaryTwo);
        font-size: 10px;
      line-height: 100%;
        font-weight: 400;
        @media (max-width:$desktop){
            margin-bottom: 10px;
        }
    }

    &__inner {
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .checkbox {
            &:not(:last-child) {
                margin-right: 7px;
                @media (max-width:$desktop){
                     margin-right: 13px; 
                }
            }
        }
        @media (max-width:$desktop){
             margin-top: 0;
             justify-content: start;
        }
    }
    @media (max-width:$desktop){
         border-radius: 0;
         background-color: transparent;
         padding: 0; 
    }
}
