.select-primary {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &__name {
        position: absolute;
        z-index: 2;
        top: 8.5px;
        left: 16px;
        color: var(--primaryTwo);
        font-size: 10px;
        line-height: 100%;
        font-weight: 400;

        @media (max-width:$desktop) {
            top: 11.5px;
        }
    }

    &__inner {}

    &__body {}

    .choices {
        background-color: var(--primary100);
        overflow: visible;
        padding: 20.5px 16px 8.5px 16px;
        border-radius: 12px;
        transition: border-radius $transitionSpeed $transitionFunction;

        &::after {
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeed $transitionFunction;
            display: block;

            margin-top: 0;
            top: -9px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
        }

        &.is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (max-width:$desktop) {
            padding: 25px 16px 13px;
        }
    }

    .choices__list--dropdown {
        margin-top: 0;
        left: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 5;
        border: 1px solid rgba(122, 127, 170, 0.2) !important; // Hack! need to be redefined choices
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__item {
            font-size: 13px;
            line-height: math.div(16, 13);
            padding: 8.5px 16px;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;
            }
        }
    }

    .choices__inner {
        padding: 0 !important; // Hack! need to be redefined choices
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
        line-height: 0;
    }

    .choices__list--single {
        padding: 0;
        font-size: 16px;
        line-height: math.div(19, 15);

        width: calc(100% - 30px);

        >.choices__item--selectable {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.select-sort {
    display: flex;
    align-items: center;

    &__label {
        color: var(--primary600);
        font-size: 12px;
        line-height: math.div(15, 12);
        font-weight: 400;
        margin-right: 8px;

        @media (max-width:$desktop) {
            font-size: 13px;
        }
    }

    .choices {
        overflow: visible;
        display: flex;
        align-items: center;

        &::after {
            border: none;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            background-color: transparent;
            background-image: url(../img/check-blue.svg);
            display: block;
            margin-top: 0;
            position: relative;
            margin-left: 8px;
            right: 0;
            top: 0;
            transform: rotate(180deg);
            transition: transform $transitionSpeed $transitionFunction;
        }

        &.is-open {
            &::after {
                margin-top: 0;
                transform: rotate(0deg);
            }

            .choices__list--dropdown {
                border: 1px solid rgba(122, 127, 170, 0.05);
            }
        }
    }

    .choices__list--dropdown {
        top: calc(100% + 10px);
        left: -15px;
        min-width: 151px;
        background: #FFFFFF;
        border: 1px solid rgba(122, 127, 170, 0.05);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        padding: 0;
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
        margin-top: 0;

        .choices__item {
            padding: 12px 16px;
            color: var(--dark);
            font-size: 14px;
            line-height: math.div(18, 14);
            font-weight: 400;

            &.is-selected {
                pointer-events: none;
                color: var(--primary600);
                background: linear-gradient(0deg, rgba(38, 131, 242, 0.05), rgba(38, 131, 242, 0.05)), #FFFFFF;
            }

            &.is-highlighted {
                background-color: transparent;
            }
        }

        &.is-active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .choices__list--single {
        padding: 0;
    }

    .choices__inner {
        padding: 0 !important;
        min-height: auto;
        background-color: transparent;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        font-size: 12px;
        line-height: math.div(15, 12);
        color: var(--blue);

        @media (max-width:$desktop) {
            font-size: 13px;
        }
    }
}



.select-multiple {

    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &__name {
        position: absolute;
        z-index: 2;
        top: 8.5px;
        left: 16px;
        color: var(--primaryTwo);
        font-size: 10px;
        line-height: 100%;
        font-weight: 400;

        @media (max-width:$desktop) {
            top: 11.5px;
        }
    }

    &__inner {}

    &__body {}

    .choices {
        background-color: var(--primary100);
        overflow: visible;
        padding: 20.5px 48px 8.5px 16px;
        border-radius: 12px;
        transition: border-radius $transitionSpeed $transitionFunction;

        &::after {
            content: '';
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeed $transitionFunction;
            display: block;

            margin-top: 0;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            position: absolute;
        }

        &.is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (max-width:$desktop) {
            padding: 25px 48px 13px 16px;
        }
    }

    .choices__list--dropdown {
        margin-top: 0;
        left: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 5;
        border: 1px solid rgba(122, 127, 170, 0.2) !important; // Hack! need to be redefined choices
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__item {
            font-size: 13px;
            line-height: math.div(16, 13);
            padding: 8.5px 16px;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;
            }
        }
    }

    .choices__inner {
        padding: 0 !important; // Hack! need to be redefined choices
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
        line-height: 0;
    }

    .choices__list--single {
        padding: 0;
        font-size: 16px;
        line-height: math.div(19, 15);

        width: calc(100% - 30px);

        >.choices__item--selectable {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .choices__list--multiple .choices__item {
        border-radius: 0;
        padding: 0;
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;
        margin-right: 24px;
        margin-bottom: 0;
        background-color: transparent;
        border: none;
        color: var(--gray);

        display: inline-flex;
        align-items: center;
    }

    .choices[data-type*=select-multiple] .choices__button {
        margin: 0 0 0 8px;
        background-image: url('../img/x.svg');
        opacity: 1;
        width: 15px;
        height: 15px;
        padding: 0;
        border: none;
        background-size: 15px;
        display: inline-block;
    }

    .choices__input {
        display: none;
    }

    .choices__list--multiple {
        overflow-x: auto;
        width: 100%;
        display: inline-flex;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        >.choices__item {
            white-space: nowrap;
        }
    }

    .choices[data-type*=select-multiple] .choices__inner {
        cursor: pointer;
    }
}
