.back-link {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;

    svg {
        width: 22px;
        height: 22px;
        fill: currentColor;
        margin-right: 8px;
    }

    span {
        color: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: math.div(15, 12);
    }

    &:hover {
        color: var(--primary500);
    }
}


.share-btn {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 14px;
        height: 14px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 12px;
            height: 12px;
        }
    }

    span {
        color: inherit;
        font-size: 14px;
        line-height: math.div(19, 15);
        font-weight: 400;
    }

    &:hover {
        color: var(--primary500);
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }
}

.complain-btn {
    display: inline-flex;
    align-items: center;
    color: var(--red);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 12px;
            height: 12px;
        }
    }

    span {
        color: inherit;
        font-size: 14px;
        line-height: math.div(19, 15);
        font-weight: 400;
    }

    &:hover {
        color: var(--red-dark);
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }
}

.favorite-btn {
    display: inline-flex;
    align-items: center;
    color: var(--blue);
    transition: color $transitionSpeed $transitionFunction;
    padding: 5px 12px;

    svg {
        margin-right: 10px;
        width: 15px;
        height: 14px;
        fill: currentColor;

        @media (max-width:$desktop) {
            width: 13px;
            height: 12px;
        }
    }

    span {
        color: inherit;
        font-size: 14px;
        line-height: math.div(19, 15);
        font-weight: 400;
    }

    &:hover {
        color: var(--primary500);
    }

    @media (max-width:$desktop) {
        padding: 0;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 0;
            width: 18px;
            height: 18px;
        }

        span {
            display: none;
        }
    }
}

.avatar {
    border-radius: 50%;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &.online {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: var(--green);
            border: 2px solid var(--white);
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            @media (max-width:$smallTablet-max) {
                width: 10px;
                height: 10px;
            }
        }
    }
}


.simplebar-primary {
    max-width: 200px;
    max-height: 300px;

    .simplebar-track.simplebar-vertical {
        background-color: var(--primary200);
        width: 2px;
        border-radius: 2px;
        overflow: visible;
        margin-right: 5px;
        top: 18px;
        bottom: 18px;
    }

    .simplebar-content-wrapper {
        padding-right: 50px;

        @media (max-width:$smallTablet-max) {
            padding-right: 36px;
        }
    }

    .simplebar-scrollbar {
        border-radius: 2px;
        width: 4px;
        left: -1px;

        &::before {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 1;
            background-color: var(--blue);
            border-radius: 2px;
            width: 4px;
        }
    }

    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        top: 0;
        bottom: 0;
    }

    .simplebar-scrollbar.simplebar-visible::before {
        opacity: 1;
    }
}


.calendar-event-simplebar {

    .simplebar-track.simplebar-vertical {
        background-color: var(--primary200);
        width: 2px;
        border-radius: 2px;
        overflow: visible;
        margin-right: 1px;
    }

    .simplebar-content-wrapper {
        padding-right: 24px;
    }

    .simplebar-scrollbar {
        border-radius: 2px;
        width: 4px;
        left: -1px;

        &::before {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 1;
            background-color: var(--blue);
            border-radius: 2px;
            width: 4px;
        }
    }

    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        top: 0;
        bottom: 0;
    }

    .simplebar-scrollbar.simplebar-visible::before {
        opacity: 1;
    }
}

.message-item {

    &__user {
        display: grid;
        grid-template-columns: 40px max-content;
        align-items: center;
        grid-column-gap: 12px;
        grid-row-gap: 4px;
    }

    &__avatar {
        width: 40px;
        height: 40px;

        grid-column: 1/2;
        grid-row: 1/3;
    }

    &__time {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: end;

        color: var(--primaryTwo);
        font-size: 12px;
        line-height: 100%;
        font-weight: 400;
    }

    &__name {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: start;

        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;
    }

    &__text {
        margin-top: 16px;
        background: var(--primary100);
        border-radius: 2px 12px 12px 12px;

        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;

        padding: 16px;
        display: inline-block;

        @media (max-width:$smallTablet-max) {
            font-size: 14px;
            padding: 12px;
        }
    }
}



.user-info {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 4px;

    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 40px;
        height: 40px;
    }

    &__pos {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 12px;
        line-height: math.div(15, 12);
        color: var(--primaryTwo);
        white-space: nowrap;
        align-self: end;
    }

    &__name {
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 15px;
        line-height: math.div(19, 15);
        align-self: start;
        white-space: nowrap;
    }

    &.user-info--small-mobile {
        @media (max-width:$smallTablet-max) {
            grid-template-columns: 35px 1fr;
            grid-column-gap: 8px;

            .user-info {
                &__avatar {
                    width: 35px;
                    height: 35px;
                }

                &__pos {
                    font-size: 10px;
                }

                &__name {
                    font-size: 12px;
                }
            }
        }
    }
}

.user-info-review {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 40px;
        height: 40px;
    }

    &__name {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 15px;
        line-height: math.div(19, 15);
        align-self: end;
        white-space: nowrap;
        font-weight: 500;
    }

    &__rating {
        align-self: start;
        display: flex;
        align-items: center;
        --icon-size: 12px;

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
            fill: var(--yellow);
            margin-right: 8px;
        }

        span {
            color: var(--primary600);
            font-size: 12px;
            line-height: math.div(15, 12);

            &:nth-child(2) {
                font-weight: 500;
                margin-right: 8px;
            }

            &:nth-child(3) {
                font-weight: 400;
            }
        }
    }
}


.calendar-event-item {
    padding: 16px 11px;
    background: #EBF1FB;
    border-radius: 12px;

    &__time {
        padding: 16px;
        border-radius: 12px;
        background-color: var(--white);
        display: flex;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
            stroke: var(--primaryTwo);
            fill: none;
            margin-right: 10px;
        }

        >div {
            display: flex;
            align-items: center;

            span {
                font-size: 15px;
                line-height: math.div(19, 15);
                color: var(--primary600);

                &:nth-child(1) {}

                &:nth-child(2) {
                    margin-left: 15px;
                }
            }
        }
    }

    &__content {
        margin-top: 10px;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 13px 16px;
    }


    &__title {
        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 500;
    }

    &__location {
        display: block;
        margin-top: 12px;
        display: flex;
        color: var(--primary600);
        font-size: 12px;
        line-height: math.div(15, 12);

        svg {
            margin-top: 1px;
            margin-right: 11px;
            width: 10px;
            height: 13px;
            fill: var(--primaryTwo);
        }
    }

    &__price {
        display: block;
        margin-top: 12px;
        color: var(--dark);
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 500;
    }

    &__user {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid var(--primary100);
    }

}


.dots-dropdown {
    position: relative;

    &__target {
        svg {
            display: block;
            width: 12px;
            height: 13px;
            fill: var(--gray);
        }
    }

    &__dropdown {
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);

        position: absolute;
        z-index: 6;
        top: 100%;
        right: -24px;

        width: auto;
        padding: 12px 0;

        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            width: 100%;
            display: flex;
            align-items: center;

            padding: 12px 16px;
            color: var(--dark);
            font-size: 15px;
            line-height: math.div(19, 15);
            font-weight: 400;

            svg {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                fill: var(--blue);
            }

            &:hover {
                background-color: var(--primary100);
            }

            @media (max-width:$smallTablet-max) {
                padding: 10px 12px;
                font-size: 12px;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            padding: 8px 0;
        }
    }

    &._active {
        .dots-dropdown {
            &__dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }
}



.bubble-speech {
    padding: 17px 24px;
    background-color: var(--white);
    border-radius: 12px;
    font-size: 15px;
    line-height: math.div(19, 15);
    font-weight: 400;
    color: var(--dark);

    position: relative;

    &::before {
        content: '';
        background-image: url('../img/polygon-1.svg');
        background-repeat: no-repeat;
        background-size: 11px 13px;
        height: 13px;
        width: 11px;
        display: block;
        position: absolute;
    }

    &--left-top {
        &::before {
            top: 16px;
            left: 1px;
            transform: translateX(-100%);
        }
    }

    @media (max-width:$smallTablet-max) {
        padding: 16px;
    }
}


.communic-method-radios {

    &__title {
        margin-bottom: 24px;
    }

    &__wrapper {}

    .radio-primary {
        &__item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        &__text {
            color: var(--gray);
            font-size: 16px;
            line-height: math.div(20, 16);
            font-weight: 400;

            @media (max-width:$desktop) {
                font-size: 14px;
            }
        }
    }
}

.your-contacts-field {

    &__title {
        margin-bottom: 24px;
    }

    &__wrapper {
        display: flex;

        .input-primary {
            width: 230px;
            height: 48px;

            &:not(:last-child) {
                margin-right: 24px;

                @media (max-width:$smallTablet-max) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }

            @media (max-width:$smallTablet-max) {
                width: 100%;
            }
        }

        @media (max-width:$smallTablet-max) {
            flex-direction: column;
        }
    }
}
