.main-tooltip {
    position: relative;
    display: inline-block;

    &__target {
        cursor: pointer;
        border-radius: 8px;
        width: 30px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 17px;
            height: 17px;
        }
    }

    &__content {
        width: 185px;
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        color: var(--primaryTwo);
        padding: 20px 18px;
        font-size: 14px;
        line-height: math.div(18, 14);
        position: absolute;
        bottom: 100%;
        left: 0;


        opacity: 0;
        visibility: hidden;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        @media (max-width:$desktop) {
            right: 0;
            left: auto;
        }
    }

    &--bank {
        .main-tooltip {
            &__target {
                background: rgba(36, 202, 142, 0.2);

                svg {
                    fill: #24CA8E;
                }
            }
        }
    }

    &--budget {
        .main-tooltip {
            &__target {
                background: rgba(255, 227, 66, 0.2);

                svg {
                    fill: #FFE342;
                }
            }
        }
    }

    &--dollar {
        .main-tooltip {
            &__target {
                background: rgba(252, 147, 147, 0.2);

                svg {
                    fill: #FC9393;
                }
            }
        }
    }

    &--bolt {
        .main-tooltip {
            &__target {
                background: rgba(255, 27, 27, 0.2);

                svg {
                    fill: #FF1B1B;
                }
            }
        }
    }

    &--calculator {
        .main-tooltip {
            &__target {
                background: rgba(148, 61, 189, 0.2);

                svg {
                    fill: #943DBD;
                }
            }
        }
    }

    &:hover {
        .main-tooltip__content {
            opacity: 1;
            visibility: visible;
        }
    }

    &.main-tooltip--tablet-visible {
        @media (max-width:$desktop) {
            display: flex;
            align-items: center;

            .main-tooltip {
                &__target {
                    cursor: default;
                }

                &__content {
                    margin-top: 0;
                    margin-left: 10px;

                    width: auto;
                    position: static;
                    padding: 0;
                    opacity: 1;
                    visibility: visible;
                    border: none;
                    background-color: transparent;
                    box-shadow: none;
                    font-weight: 500;
                    color: var(--dark);

                    @media (max-width:$desktop) {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &.main-tooltip--mobile-visible {
        @media (max-width:$smallTablet-max) {
            display: flex;
            align-items: center;

            .main-tooltip {
                &__target {
                    cursor: default;
                }

                &__content {
                    margin-top: 0;
                    margin-left: 10px;

                    width: auto;
                    position: static;
                    padding: 0;
                    opacity: 1;
                    visibility: visible;
                    border: none;
                    background-color: transparent;
                    box-shadow: none;
                    font-weight: 500;
                    color: var(--dark);

                    @media (max-width:$desktop) {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &.main-tooltip--visible {
        display: flex;
        align-items: center;

        .main-tooltip {
            &__target {
                cursor: default;
            }

            &__content {
                margin-top: 0;
                margin-left: 10px;

                width: auto;
                position: static;
                padding: 0;
                opacity: 1;
                visibility: visible;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-weight: 500;
                color: var(--dark);

                @media (max-width:$desktop) {
                    font-weight: 400;
                }
            }
        }
    }
}


.secondary-tooltip {
    position: relative;
    width: 13px;
    height: 13px;

    &__btn {
        width: 100%;
        height: 100%;

        svg {
            width: 100%;
            height: 100%;
            stroke: var(--primaryTwo);
            fill: none;
        }

        &:hover {
            +.secondary-tooltip__content {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__content {
        background-color: var(--white);
        border: 1px solid rgba(122, 127, 170, 0.2);
        border-radius: 12px;
        color: var(--dark);
        padding: 16px;
        font-size: 12px;
        line-height: math.div(18, 12);
        position: absolute;
        bottom: 0;
        left: calc(13px + 24px); // size btn + gap

        opacity: 0;
        visibility: hidden;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
    }
}
