.bid {
    &__container {
        background-color: var(--primary100);
        border-radius: 16px;
        padding: 32px;
        grid-column-gap: 24px;
        display: grid;
        grid-template-columns: percent(584, 1016) percent(400, 1016);
        grid-template-columns: percent(604, 1048) percent(420, 1048);
        justify-content: space-between;

        @media (max-width:$desktop) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 16px;
        }

        @media (max-width:$smallTablet-max) {
            grid-row-gap: 8px;
        }
    }

    &__body {
        background-color: var(--white);
        border-radius: 12px;
        padding: 32px 24px;
        padding: 24px;

        @media (max-width:$desktop) {
            order: 2;
            grid-column: 1/-1;
        }

        @media (max-width:$smallTablet-max) {
            padding: 16px 0;
        }
    }

    &__start {
        display: flex;
        align-items: end;
        justify-content: space-between;

        @media (max-width:$smallTablet-max) {
            padding: 0 16px;
        }
    }

    &__title {}

    &__time {
        color: var(--primaryTwo);
        font-size: 12px;
        line-height: math.div(15, 12);
        font-weight: 400;
    }

    &__list {
        margin-top: 24px;

        @media (max-width:$smallTablet-max) {
            padding: 0 16px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 50px;

        >span {
            font-size: 14px;
            line-height: math.div(18, 14);
            font-weight: 400;

            &:nth-child(1) {
                color: var(--primaryTwo);
            }

            &:nth-child(2) {
                color: var(--dark);
            }
        }

        &--price {
            >div {
                display: flex;

                >span {
                    white-space: nowrap;
                    color: var(--dark);
                }

                .bid__item-tooltips {
                    display: flex;
                    align-items: center;
                    margin-top: -15px;
                    margin-left: 15px;

                    .main-tooltip {
                        &:not(:last-child) {
                            margin-right: 15px;
                        }

                        &__content {
                            left: auto;
                            right: 0;
                        }
                    }

                    @media (max-width:$smallTablet-max) {
                        display: none;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 150px 1fr;
            grid-column-gap: 15px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &-tooltips {
                margin: 24px 16px 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px 25px;
                justify-content: space-between;
            }
        }
    }


    &__descr {
        margin-top: 24px;
        font-size: 15px;
        line-height: math.div(19, 15);
        font-weight: 400;
        color: var(--dark);

        &--border {
            padding: 20px 16px;
            border: 1px solid var(--primary200);
            border-radius: 2px 12px 12px 12px;

            @media (max-width:$smallTablet-max) {
                padding: 16px 12px;
            }
        }

        @media (max-width:$smallTablet-max) {
            margin: 24px 16px 0;
        }
    }

    &__user {
        align-self: start;

        @media (max-width:$desktop) {
            order: 1;
            grid-column: 1/-1;
        }
    }

    &__messages {
        margin-top: 32px;
        max-width: none;
        width: 100%;

        .simplebar-primary {
            border: 1px solid var(--primary200);
            border-radius: 2px 12px 12px 12px;
            margin-top: 16px;
            max-width: 100%;
            width: 100%;
            height: 100%;
            max-height: 281px;

            padding: 16px;

            @media (max-width:$smallTablet-max) {
                padding: 16px 12px;
            }
        }

        @media (max-width:$smallTablet-max) {
            padding: 0 16px;
        }
    }

    &__message {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__maps {
        margin-top: 32px;
        width: 100%;

        .bid__title {
            @media (max-width:$smallTablet-max) {
                padding: 0 16px;
            }
        }
    }
}




.bid-maps {
    &__container {
        margin-top: 16px;
        width: 100%;
        height: 379px;
        background-color: var(--primary100);
        border-radius: 12px;

        @media (max-width:$smallTablet-max) {
            margin-top: 24px;
            height: 154px;
        }
    }
}


.bid-user {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
    background-color: var(--white);

    border-radius: 12px;
    padding: 40px 69.5px;
    text-align: center;

    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:$desktop) {

        &::before,
        &::after {
            content: '';
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: percent(112, 402);
        }

        &::before {
            background-color: #303E57;
        }

        &::after {
            background-image: url('../img/banner-blur.png');
            background-size: cover;
            z-index: 0;
        }
    }

    @media (max-width:$smallTablet-max) {
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }

    &__avatar {
        --size: 129px;
        filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.04));
        z-index: 1;
        position: relative;
        width: var(--size);
        height: var(--size);
        flex: 0 0 var(--size);

        @media (max-width:$desktop) {
            filter: none;
            --size: 57px;
        }
    }

    &__content {
        margin-top: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width:$smallTablet-max) {
            width: auto;
            align-items: start;
            margin: 0 0 0 16px;
        }
    }

    &__time {
        color: var(--primaryTwo);
        font-size: 10px;
        line-height: 100%;
        font-weight: 400;
    }

    &__name {
        margin-top: 5px;
        color: var(--dark);
        font-size: 18px;
        line-height: math.div(23, 18);
        font-weight: 500;
        transition: color $transitionSpeed $transitionFunction;

        &:hover {
            color: var(--blue);
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 2px;
            font-size: 15px;
        }
    }

    &__rating {
        margin-top: 16px;
        display: flex;
        align-items: center;

        span {
            font-size: 12px;
            line-height: math.div(15, 12);
            color: var(--primary600);

            &:nth-child(2) {
                font-weight: 500;
                margin-left: 4px;

                @media (max-width:$smallTablet-max) {
                    font-weight: 400;
                }
            }

            &:nth-child(3) {
                margin-left: 4px;
                font-weight: 400;

                @media (max-width:$smallTablet-max) {
                    font-size: 10px;
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 8px;
        }
    }

    &__rating-stars {
        display: flex;
        align-items: center;
        --icon-size: 16px;

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
            fill: var(--yellow);

            &:not(:last-child) {
                margin-right: 2px;
            }
        }

        @media (max-width:$smallTablet-max) {
            --icon-size: 12px;
        }
    }

    &__quantity {
        margin-top: 5px;
        display: flex;
        align-items: center;
        color: var(--primary600);

        svg {
            width: 10px;
            height: 10px;
            fill: currentColor;
            margin-right: 5px;
        }

        span {
            color: inherit;
            font-size: 12px;
            line-height: math.div(15, 12);
            font-weight: 500;
        }

        @media (max-width:$smallTablet-max) {
            span {
                font-weight: 400;
            }
        }
    }

    &__btn {
        margin-top: 32px;
        padding: 0 20px;
        width: 100%;

        svg {
            width: 15px;
            height: 15px;
            fill: currentColor;
            margin-right: 10px;
        }

        @media (max-width:$desktop) {
            margin-top: 21px;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    @media (max-width:$desktop) {
        padding: 16px 16px 24px;
    }

    &--small {
        display: inline-flex;
        overflow: visible;
        flex-direction: row;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        text-align: left;

        &::before,
        &::after {
            display: none;
        }

        .bid-user {
            &__avatar {
                --size: 66px;
                filter: none;

                @media (max-width:$smallTablet-max) {
                    --size: 57px;
                }
            }

            &__time {
                font-size: 12px;

                @media (max-width:$smallTablet-max) {
                    font-size: 10px;
                }
            }

            &__content {
                margin-top: 0;
                margin-left: 16px;
                text-align: left;
                align-items: start;
            }

            &__name {
                font-size: 15px;

                @media (max-width:$smallTablet-max) {
                    font-weight: 400;
                }
            }

            &__rating {
                margin-top: 5px;
                --icon-size: 12px;

                @media (max-width:$smallTablet-max) {
                    margin-top: 5px;
                }
            }

            &__quantity {
                margin-top: 5px;

                svg {
                    margin-right: 10px;
                }

                @media (max-width:$smallTablet-max) {
                    span {
                        font-weight: 400;
                    }

                    svg {
                        margin-right: 5px;
                    }
                }
            }

            &__controls {
                align-self: start;
                margin-left: 15px;
            }
        }
    }

    &--grade {
        padding: 32px 16px;

        @media (min-width:$desktop) {

            &::before,
            &::after {
                height: percent(90, 538);
            }
        }

        @media (max-width:$desktop) {
            padding: 24px 0 16px;
        }

        .bid-user {

            &__container {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0 61px;

                @media (max-width:$desktop) {
                    flex-direction: row;
                    align-items: start;
                    padding: 0 16px 16px;
                }
            }

            &__content {
                @media (max-width:$desktop) {
                    align-items: start;
                    margin-top: 0;
                    margin-left: 16px;
                }
            }

            &__title {
                @media (max-width:$desktop) {
                    grid-column: 1/-1;
                }

                @media (max-width:$smallTablet-max) {
                    font-size: 15px;
                }
            }

            &__avatar {
                --size: 95px;

                @media (max-width:$desktop) {
                    --size: 57px;
                }
            }

            &__name {
                @media (max-width:$smallTablet-max) {
                    font-weight: 400;
                }
            }

            &__grade {
                margin-top: 16px;
                padding-top: 16px;
                border-top: 1px solid var(--primary100);
                text-align: center;
                width: 100%;

                @media (max-width:$desktop) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-row-gap: 24px;
                    margin-top: 0;
                    padding: 16px 16px 0;
                    border-top: 1px solid var(--primary100);
                }
            }

            &__btn {

                &--like,
                &--dislike,
                &--comment {
                    width: 100%;
                    padding: 0 20px;

                    svg {
                        margin-right: 16px;
                        width: 17px;
                        height: 17px;
                        fill: currentColor;

                        @media (max-width:$desktop) {
                            margin-right: 10px;
                            width: 14px;
                            height: 14px;
                        }
                    }

                    @media (max-width:$smallTablet-max) {
                        [data-mobile-text] {
                            font-size: 0;

                            &::before {
                                content: attr(data-mobile-text);
                                font-size: 12px;
                            }
                        }
                    }
                }


                &--like {
                    margin-top: 16px;

                    @media (max-width:$desktop) {
                        margin-top: 0;
                    }
                }

                &--dislike {
                    margin-top: 16px;

                    @media (max-width:$desktop) {
                        margin-top: 0;
                    }
                }

                &--comment {
                    margin-top: 32px;

                    @media (max-width:$desktop) {
                        margin-top: 0;
                        grid-column: 1/-1;
                    }
                }
            }
        }
    }
}
