.city {

    &__title {
        color: var(--primaryTwo);
        display: flex;
        align-items: center;

        svg {
            width: 12px;
            height: 14px;
            margin-right: 9px;
            fill: currentColor;
        }

        &:hover {
            color: var(--blue);
        }

        @media (max-width:$desktop) {
            -webkit-tap-highlight-color: transparent;
        }
    }

    &__name {
        color: inherit;
        font-size: 14px;
        line-height: math.div(19, 14);
        font-weight: 500;
    }
}



.city-popup {

    &__title {}

    &__auto {
        margin-top: 32px;
        display: flex;
        align-items: center;
        color: var(--blue);
        transition: color $transitionSpeed $transitionFunction;

        svg {
            margin-right: 6px;
            width: 12px;
            height: 12px;
            stroke: currentColor;
            fill: none;
        }

        span {
            color: inherit;
            font-size: 15px;
            line-height: math.div(19, 15);
            font-weight: 400;
        }

        &:hover {
            color: var(--primary500);
        }

        @media (max-width:$desktop) {
            span {
                font-size: 11px;
            }
        }
    }

    &__input {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary100);
        padding: 14px 16px;
        border-radius: 12px;

        input {
            border: none;
            flex-grow: 1;
            padding-right: 16px;
            color: var(--primaryTwo);
            font-size: 15px;
            line-height: math.div(19, 15);
            background-color: transparent;

            &::placeholder {
                color: inherit;
            }
        }

        button {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--primaryTwo);
            }
        }
    }

    &__list {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px 10px;
    }

    &__item {
        font-size: 12px;
        line-height: math.div(15, 12);
        font-weight: 500;
        color: var(--blue);
        height: 45px;
        padding: 15px 12px;
        flex-grow: 1;
        max-width: 65%;
        border-radius: 8px;
    }

    &__save {
        margin: 32px 0 0 auto;
        padding: 13px 37px;
        height: 45px;
    }
}
