.main-banners {

    &__container {
        margin: 0 -16px;
        padding: 0 16px;
    }

    &__item {
        height: 100% !important; // Hack! need to be redefined swiper
    }
}

.main-banner {
    background-color: var(--primary100);
    border-radius: 13px;
    padding: 29px 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    &--one {}

    &--two {
        background-color: var(--primary600);

        .main-banner {

            &__title {
                color: var(--white);
            }

            &__descr {
                color: #E7E7E7;
            }

            &__btn {
                color: var(--gray);
                background-color: var(--white);
            }
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/banner-blur.png');
            background-size: cover;
        }
    }

    &__image {
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &__title {
        font-size: 20px;
        line-height: math.div(27, 20);
        color: var(--gray);
        max-width: 220px;

        @media (max-width:$smallTablet-max) {
            font-size: 18px;
        }
    }

    &__descr {
        margin-top: 10px;
        color: var(--primaryTwo);
        font-size: 13px;
        line-height: math.div(15, 13);
        font-weight: 400;
        max-width: 300px;
        flex-grow: 1;
    }

    &__btn {
        margin-top: 27px;
        padding: 0 27px;
        align-self: start;

        @media (max-width:$smallTablet-max) {
            padding: 0 22px;
        }
    }

    @media (max-width:$smallTablet-max) {
        padding: 24px 16px;
    }
}
