.purchase-request {

    &__share {
        @media (max-width:$desktop) {
            order: 2;
        }
    }

    &__complain {
        margin-left: 2px;

        @media (max-width:$desktop) {
            order: 1;
            margin-left: 0;
            margin-right: 24px;
        }
    }

    &__body {

        @media (max-width:$desktop) {
            padding: 78px 0 0;
            margin-top: 0;

            .purchase-request__title {
                display: block;
            }
        }
    }

    &__suggested-objects {
        margin-top: 25px;

        @media (max-width:$desktop) {
            background-color: var(--white);
            margin-top: 8px;
            padding-bottom: 0;

            .tabs-primary {
                &__container {
                    background-color: var(--primary100);
                    padding-bottom: 24px;
                }
            }
        }
    }

    &__calendar {
        margin-top: 25px;

        @media (max-width:$desktop) {
            margin-top: 8px;
            padding: 0;
        }
    }

    @media (max-width:$desktop) {
        padding-top: 0;
        background-color: var(--primary100);

        .bid__container {
            margin-top: 24px;
            padding: 0;
        }

        .tabs-primary__next {
            margin-top: 0px;
        }

        .tabs-primary__pagination {
            margin-top: 16px;
        }
    }

    @media (max-width:$smallTablet-max) {
        .tabs-primary__next {
            margin: 0 0 0 16px;
            width: calc(100% - 32px);
        }
    }
}


.request-calendar {
    &__container {
        background-color: var(--primary100);
        padding: 32px;
        border-radius: 16px;

        @media (max-width:$desktop) {
            padding: 0 0 24px 0;
            background-color: var(--white);
        }
    }

    &__body {
        background-color: var(--white);
        padding: 24px;
        border-radius: 12px;

        @media (max-width:$desktop) {
            padding: 16px 0 0;
        }
    }

    .tabs-primary {
        &__container {
            background-color: transparent;
            padding: 0;
        }

        &__title {
            @media (max-width:$desktop) {
                padding-left: 16px;
                font-size: 18px;
            }
        }

        &__inner {
            margin-top: 16px;
        }
    }

    .main-table {
        background-color: transparent;
        padding: 0;

        &__type {
            display: grid;
            grid-template-columns: percent(268, 914) max-content 1fr;
            grid-column-gap: 15px;

            span:last-child {
                margin-left: auto;
                margin-right: 50px;
            }
        }

        &__list {
            @media (max-width:$desktop) {
                padding: 0 8px;
            }
        }

        &__next {

            @media (max-width:$desktop) {
                margin: 24px 0 0 16px;
                width: calc(100% - 32px);
            }
        }

        &__pagination {
            @media (max-width:$desktop) {
                margin-top: 16px;
            }
        }
    }

    .calendar-primary {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }
}
