.request-catalog {
    &__body {
        @media (max-width:$desktop) {
            padding: 74px 0 16px;
            background-color: var(--primary100);
        }
    }

    &__title {
        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
        }
    }

    &__filter {
        margin-top: 32px;

        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
            margin-top: 24px;
        }
    }

    &__select {}

    &__area {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--primary100);
        border-radius: 12px;

        color: var(--gray);
        font-size: 16px;
        line-height: math.div(19, 15);
        font-weight: 400;

        padding: 14.5px 16px;

        svg {
            width: 18px;
            height: 18px;
            fill: var(--blue);
        }

        @media (max-width:$desktop) {
            padding: 19px 16px;
        }
    }

    &__checkboxes {
        margin-left: 23px;
        margin-bottom: 10px;
        align-self: end;
        display: flex;
        align-items: center;

        >.checkbox-secondary {
            &:not(:last-child) {
                margin-right: 20px;

                @media (max-width:$desktop) {
                    margin-right: 0;
                    margin-bottom: 14px;
                }
            }
        }

        @media (max-width:$desktop) {
            margin: 0;
            align-self: start;
            flex-direction: column;
        }
    }

    &__table {
        margin-top: 32px;

        @media (max-width:$desktop) {
            padding: 0;
            margin-top: 16px;
            background-color: transparent;
        }
    }

    &__banners {
     margin-top: 32px;

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    @media (max-width:$desktop) {
        padding-top: 0;
    }
}
