<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            <a href="#" class="footer__logo logo">
                <img loading="lazy" src="./img/logo-two.svg" width="185" height="32" class="logo__img"
                    alt="Продам.Онлайн">
            </a>
            <nav class="footer__nav nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Продажа</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Новостройки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Покупка</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__write">
            <p>
                Есть предложения, напишите нам.
            </p>
            <button type="button" class="btn btn-reset btn-secondary footer__btn">Написать</button>
        </div>
        <p class="footer__descr">
            © 2021-2022 ООО «Продам онлайн», официальный сайт использует куки-файлы и другие технологии, чтобы помочь
            вам в навигации, а также предоставить лучший пользовательский опыт, анализировать использование наших
            продуктов и услуг, повысить качество рекламных и маркетинговых активностей. Если Вы не хотите, чтобы Ваши
            пользовательские данные обрабатывались, пожалуйста, ограничьте их использование в своём браузере.
        </p>
    </div>
</footer>
