<header class="header">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <button class="header-top__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
            <div class="header-top__city city" data-da=".header-main__nav,1112,3">
                <button type="button" class="btn btn-reset city__title" data-popup-path="city">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--add">
                    <button type="button" data-popup-path="add" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--calendar">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#calendar"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
                <div class="header-top__action header-action header-action--chat">
                    <button type="button" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#chat"></use>
                        </svg>
                        <span class="header-action__quantity">
                            2
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title" data-popup-path="personal-area"
                    data-mobile-speed>
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo" data-da=".header-top__container,1112,1">
                <img loading="lazy" src="./img/logo.svg" width="238" height="32" class="logo__img" alt="Продам.Онлайн">
            </a>
            <nav class="header-main__nav nav" data-menu>
                <button type="button" class="btn btn-reset header-main__close">Закрыть</button>
                <div class="header-main__title">Меню</div>
                <ul class="nav__list list-reset" data-spollers="1112,max" data-one-spoller>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link" data-spoller>
                            <svg class="nav__link-icon">
                                <use xlink:href="img/sprite.svg#key"></use>
                            </svg>
                            Продажа
                            <svg class="nav__link-arrow">
                                <use xlink:href="img/sprite.svg#arrow-small"></use>
                            </svg>
                        </span>
                        <div class="nav-dropdown__dropdown">
                            <div class="nav-dropdown__dropdown-container nav-dropdown-content container">
                                <div class="nav-dropdown-content__card-info card-info"
                                    data-da=".header-main__banners-slide--1,1112,1">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/11prc.png')">
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__body">
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#key"></use>
                                            </svg>
                                            <span>Вторичка</span>
                                        </a>
                                    </div>
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#home"></use>
                                            </svg>
                                            <span>Дома, коттеджи, дачи</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__link-icon">
                                <use xlink:href="img/sprite.svg#new-buildings"></use>
                            </svg>
                            Новостройки
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__link-icon">
                                <use xlink:href="img/sprite.svg#calendar"></use>
                            </svg>
                            Покупка
                        </a>
                    </li>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link" data-spoller>
                            <svg class="nav__link-icon">
                                <use xlink:href="img/sprite.svg#bank"></use>
                            </svg>
                            Услуги
                            <svg class="nav__link-arrow">
                                <use xlink:href="img/sprite.svg#arrow-small"></use>
                            </svg>
                        </span>
                        <div class="nav-dropdown__dropdown">
                            <div class="nav-dropdown__dropdown-container nav-dropdown-content container">
                                <div class="nav-dropdown-content__card-info card-info"
                                    data-da=".header-main__banners-slide--2,1112,2">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/11prc.png')">
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__body">
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#bank"></use>
                                            </svg>
                                            <span>Ипотека</span>
                                        </a>
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#shield"></use>
                                            </svg>
                                            <span>Ипотечное страхование</span>
                                        </a>
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#money-check-edit"></use>
                                            </svg>
                                            <span>Оценка недвижимости для ипотеки</span>
                                        </a>
                                    </div>
                                    <div class="nav-dropdown-content__col">
                                        <a href="#" class="nav-dropdown-content__item">
                                            <svg>
                                                <use xlink:href="img/sprite.svg#fingerprint"></use>
                                            </svg>
                                            <span>Юридическая проверка</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__link-icon">
                                <use xlink:href="img/sprite.svg#users-alt"></use>
                            </svg>
                            Агенты
                        </a>
                    </li>
                </ul>
                <div class="swiper header-main__banners">
                    <div class="swiper-wrapper header-main__banners-container">
                        <div class="swiper-slide header-main__banners-slide header-main__banners-slide--1"></div>
                        <div class="swiper-slide header-main__banners-slide header-main__banners-slide--2"></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
