<div class="popup popup-primary popup-primary--left popup-primary--city">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="city">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content city-popup">
            <h2 class="city-popup__title title-2">
                Выбор города
            </h2>
            <button type="button" class="btn btn-reset city-popup__auto">
                <svg>
                    <use xlink:href="img/sprite.svg#crosshair"></use>
                </svg>
                <span>Определить автоматически</span>
            </button>
            <div class="city-popup__input">
                <input type="search" name="Название города" class="input-reset" placeholder="Введите название города">
                <button type="button" class="btn btn-reset">
                    <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
            <div class="city-popup__list">
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Москва</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Казань</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
                <button type="button" class="btn btn-reset btn-secondary city-popup__item">Санкт-Петербург</button>
            </div>
            <button type="button" class="btn btn-reset btn-primary js-popup-close city-popup__save"
                disabled>Сохранить</button>
        </div>
    </div>
</div>
<div class="popup popup-primary popup-primary--right popup-primary--add">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="add">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
        </button>
        <div class="popup__content popup-primary__content add-popup">
            <h2 class="add-popup__title title-2">
                Добавить
            </h2>
            <ul class="add-popup__list list-reset">
                <li class="add-popup__item">
                    <a href="#" class="add-popup__link">
                        <svg>
                            <use xlink:href="img/sprite.svg#house"></use>
                        </svg>
                        <span>Объявление на продажу</span>
                    </a>
                </li>
                <li class="add-popup__item">
                    <a href="#" class="add-popup__link">
                        <svg>
                            <use xlink:href="img/sprite.svg#tg"></use>
                        </svg>
                        <span>Заявка на покупку</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="popup popup-secondary popup-secondary--right popup-secondary--personal">
    <div class="popup__container popup-secondary__container" role="dialog" aria-modal="true"
        data-popup-target="personal-area">
        <button class="btn-reset js-popup-close popup__close popup-secondary__close"
            aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-secondary__content personal-area">
            <h2 class="personal-area__title title-2">
                Личный кабинет
            </h2>
            <div class="personal-area__info">
                <div class="personal-area__avatar avatar">
                    <img loading="lazy" src="./img/avatar-1.jpg" width="45" height="45" alt="Иван П.">
                </div>
                <span class=" personal-area__name">
                    Иван П.
                </span>
                <button type="button" class="btn btn-reset personal-area__edit">Редактировать профиль</button>
            </div>
            <nav class="personal-area__nav">
                <ul data-spollers class="personal-area__list list-reset">
                    <li class="personal-area__item personal-area-dropdown">
                        <button type="button" data-spoller class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#add"></use>
                            </svg>
                            <span>Добавить</span>
                            <svg class="personal-area-dropdown__arrow">
                                <use xlink:href="img/sprite.svg#arrow-small"></use>
                            </svg>
                        </button>
                        <div class="personal-area-dropdown__body">
                            <button type="button" class="btn btn-reset personal-area__btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#house"></use>
                                </svg>
                                <span>Объявление на продажу</span>
                            </button>
                            <button type="button" class="btn btn-reset personal-area__btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#tg"></use>
                                </svg>
                                <span>Запрос на покупку</span>
                            </button>
                        </div>
                    </li>
                </ul>
                <ul class="personal-area__list list-reset">
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#chat"></use>
                            </svg>
                            <span>Чат</span>
                            <span class="personal-area__quantity">
                                +6
                            </span>
                        </button>
                    </li>
                </ul>
                <ul class="personal-area__list list-reset">
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#cart-1"></use>
                            </svg>
                            <span>Мои заявки на покупку</span>
                        </button>
                    </li>
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#cart-3"></use>
                            </svg>
                            <span>Предложения по заявкам</span>
                            <span class="personal-area__quantity">
                                +6
                            </span>
                        </button>
                    </li>
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#calendar"></use>
                            </svg>
                            <span>Календарь просмотров</span>
                        </button>
                    </li>
                </ul>
                <ul class="personal-area__list list-reset">
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#favorite"></use>
                            </svg>
                            <span>Избранные объекты</span>
                        </button>
                    </li>
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#list-check"></use>
                            </svg>
                            <span>Мои предложения</span>
                        </button>
                    </li>
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#list"></use>
                            </svg>
                            <span>Мои объявления</span>
                        </button>
                    </li>
                </ul>
                <ul class="personal-area__list list-reset">
                    <li class="personal-area__item">
                        <button type="button" class="btn btn-reset personal-area__btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#sign-in"></use>
                            </svg>
                            <span>Выйти</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>





<div class="popup popup-primary popup-primary--right popup-primary--share-app">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true"
        data-popup-target="share-app">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content share-app-popup">
            <h2 class="share-app-popup__title title-3">
                Поделиться заявкой
            </h2>
            <ul class="share-app-popup__list list-reset">
                <li class="share-app-popup__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="img/sprite.svg#wh"></use>
                        </svg>
                        WhatsApp
                    </a>
                </li>
                <li class="share-app-popup__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                        Telegram
                    </a>
                </li>
                <li class="share-app-popup__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                        Viber
                    </a>
                </li>
                <li class="share-app-popup__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                        Вконтакте
                    </a>
                </li>
                <li class="share-app-popup__item">
                    <a href="#">
                        <svg>
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                        Одноклассники
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-reset btn-secondary share-app-popup__btn" data-href="liiiink.com">
                Или скопировать ссылку
            </button>
        </div>
    </div>
</div>



<div class="popup popup-primary popup-primary--right popup-primary--complaint">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true"
        data-popup-target="complaint">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content complaint-popup">
            <h2 class="complaint-popup__title title-3">
                На что жалуетесь ?
            </h2>
            <form action="#" class="complaint-popup__form">
                <div class="complaint-popup__radio radio-primary">
                    <div class="radio-primary__item">
                        <input hidden id="complaint_1" class="radio-primary__input" type="radio"
                            value="Вымышленый запрос" name="complaint-radio">
                        <label for="complaint_1" class="radio-primary__label">
                            <span class="radio-primary__text">Вымышленый запрос</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint_2" class="radio-primary__input" type="radio"
                            value="Приглашают в офис" name="complaint-radio">
                        <label for="complaint_2" class="radio-primary__label">
                            <span class="radio-primary__text">Приглашают в офис</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint_3" class="radio-primary__input" type="radio"
                            value="Предложение уже не актуально" name="complaint-radio">
                        <label for="complaint_3" class="radio-primary__label">
                            <span class="radio-primary__text">Предложение уже не актуально</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint_4" class="radio-primary__input" type="radio"
                            value="Некоректные параметры запроса" name="complaint-radio">
                        <label for="complaint_4" class="radio-primary__label">
                            <span class="radio-primary__text">Некоректные параметры запроса</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint_5" class="radio-primary__input" type="radio" value="Другое"
                            name="complaint-radio">
                        <label for="complaint_5" class="radio-primary__label">
                            <span class="radio-primary__text">Другое</span>
                        </label>
                    </div>
                </div>
                <label class="complaint-popup__textarea textarea-primary">
                    <textarea class="input-reset textarea-primary__input" placeholder=""></textarea>
                    <span class="textarea-primary__span">Расскажите подробнее на что жалуетесь</span>
                </label>
                <button type="submit" class="btn btn-reset btn-primary complaint-popup__btn js-popup-close"
                    data-mobile-speed disabled data-popup-path="thanks">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>



<div class="popup popup-primary popup-primary--right popup-primary--thanks">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="thanks">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content thanks-popup">
            <div class="thanks-popup__icon">
                <img loading="lazy" src="./img/like.png" alt="like">
            </div>
            <h3 class="thanks-popup__title title-3">Спасибо!</h3>
            <p class="thanks-popup__descr">
                Жалоба принята к рассмотрению
            </p>
        </div>
    </div>
</div>




<div class="popup popup-primary popup-primary--right popup-primary--complaint-user">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true"
        data-popup-target="complaint-user">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content complaint-user-popup">
            <div class="complaint-user-popup__user user-info-review">
                <div class="user-info-review__avatar avatar online">
                    <img loading="lazy" src="./img/avatar-1.jpg" width="40" height="40" alt="Алексей Г.">
                </div>
                <span class="user-info-review__name">
                    Алексей Г.
                </span>
                <div class="user-info-review__rating">
                    <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                    </svg>
                    <span>2.2</span>
                    <span>(2 отзыва)</span>
                </div>
            </div>
            <h2 class="complaint-user-popup__title title-3">
                На что жалуетесь ?
            </h2>
            <form action="#" class="complaint-user-popup__form">
                <div class="complaint-user-popup__radio radio-primary">
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_1" class="radio-primary__input" type="radio" value="Спам"
                            name="complaint-user-radio">
                        <label for="complaint-user_1" class="radio-primary__label">
                            <span class="radio-primary__text">Спам</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_2" class="radio-primary__input" type="radio"
                            value="Мошенничество" name="complaint-user-radio">
                        <label for="complaint-user_2" class="radio-primary__label">
                            <span class="radio-primary__text">Мошенничество</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_3" class="radio-primary__input" type="radio"
                            value="Оскорбление" name="complaint-user-radio">
                        <label for="complaint-user_3" class="radio-primary__label">
                            <span class="radio-primary__text">Оскорбление</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_4" class="radio-primary__input" type="radio" value="Чужое фото"
                            name="complaint-user-radio">
                        <label for="complaint-user_4" class="radio-primary__label">
                            <span class="radio-primary__text">Чужое фото</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_5" class="radio-primary__input" type="radio"
                            value="Работает под чужим профилем" name="complaint-user-radio">
                        <label for="complaint-user_5" class="radio-primary__label">
                            <span class="radio-primary__text">Работает под чужим профилем</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-user_6" class="radio-primary__input" type="radio" value="Другое"
                            name="complaint-user-radio">
                        <label for="complaint-user_6" class="radio-primary__label">
                            <span class="radio-primary__text">Другое</span>
                        </label>
                    </div>
                </div>
                <label class="complaint-user-popup__textarea textarea-primary">
                    <textarea class="input-reset textarea-primary__input" placeholder></textarea>
                    <span class="textarea-primary__span">Расскажите подробнее на что жалуетесь</span>
                </label>
                <button type="submit" class="btn btn-reset btn-primary complaint-user-popup__btn js-popup-close"
                    data-mobile-speed disabled data-popup-path="thanks">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup popup-primary popup-primary--right popup-primary--complaint-object">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true"
        data-popup-target="complaint-object">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content complaint-object-popup">
            <div class="complaint-object-popup__object object-small-card">
                <div class="object-small-card__image">
                    <picture>
                        <source srcset="./img/card-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/card-1.jpg" width="45" height="45"
                            alt="1-комн. квартира, 54 м², 12/12 эт.">
                    </picture>
                </div>
                <h4 class="object-small-card__title">
                    1-комн. квартира, 54 м², 12/12 эт.
                </h4>
                <p class="object-small-card__descr">
                    Краснодар, ул.Карла-Маркса., 234
                </p>
            </div>
            <h2 class="complaint-object-popup__title title-3">
                На что жалуетесь ?
            </h2>
            <form action="#" class="complaint-object-popup__form">
                <div class="complaint-object-popup__radio radio-primary">
                    <div class="radio-primary__item">
                        <input hidden id="complaint-object_1" class="radio-primary__input" type="radio" value="Спам"
                            name="complaint-object-radio">
                        <label for="complaint-object_1" class="radio-primary__label">
                            <span class="radio-primary__text">Спам</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-object_2" class="radio-primary__input" type="radio"
                            value="Мошенничество" name="complaint-object-radio">
                        <label for="complaint-object_2" class="radio-primary__label">
                            <span class="radio-primary__text">Мошенничество</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-object_3" class="radio-primary__input" type="radio"
                            value="Даты просмотра не актуальны" name="complaint-object-radio">
                        <label for="complaint-object_3" class="radio-primary__label">
                            <span class="radio-primary__text">Даты просмотра не актуальны</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="complaint-object_4" class="radio-primary__input" type="radio" value="Другое"
                            name="complaint-object-radio">
                        <label for="complaint-object_4" class="radio-primary__label">
                            <span class="radio-primary__text">Другое</span>
                        </label>
                    </div>
                </div>
                <label class="complaint-object-popup__textarea textarea-primary">
                    <textarea class="input-reset textarea-primary__input" placeholder></textarea>
                    <span class="textarea-primary__span">Расскажите подробнее на что жалуетесь</span>
                </label>
                <button type="submit" class="btn btn-reset btn-primary complaint-object-popup__btn js-popup-close"
                    data-mobile-speed disabled data-popup-path="thanks">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>


<div class="popup popup-primary popup-primary--right popup-primary--object-not">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true"
        data-popup-target="object-not">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
                <use xlink:href="img/sprite.svg#x"></use>
            </svg>
            <span>Закрыть</span>
        </button>
        <div class="popup__content popup-primary__content object-not-popup">
            <div class="object-not-popup__object object-small-card">
                <div class="object-small-card__image">
                    <picture>
                        <source srcset="./img/card-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/card-1.jpg" width="45" height="45"
                            alt="1-комн. квартира, 54 м², 12/12 эт.">
                    </picture>
                </div>
                <h4 class="object-small-card__title">
                    1-комн. квартира, 54 м², 12/12 эт.
                </h4>
                <p class="object-small-card__descr">
                    Краснодар, ул.Карла-Маркса., 234
                </p>
            </div>
            <h2 class="object-not-popup__title title-3">
                Отметьте пожалуйста,что вам не нравится?
            </h2>
            <p class="object-not-popup__descr">
                Это поможет агентам и собственникам делать более точное предложение и не предлагать вам объект, который
                не подходит под ваши пожелания.
            </p>
            <form action="#" class="object-not-popup__form">
                <div class="object-not-popup__radio radio-primary">
                    <div class="radio-primary__item">
                        <input hidden id="object-not_1" class="radio-primary__input" type="radio" value="Цена"
                            name="object-not">
                        <label for="object-not_1" class="radio-primary__label">
                            <span class="radio-primary__text">Цена</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="object-not_2" class="radio-primary__input" type="radio"
                            value="Состояние объекта" name="object-not">
                        <label for="object-not_2" class="radio-primary__label">
                            <span class="radio-primary__text">Состояние объекта</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="object-not_3" class="radio-primary__input" type="radio" value="Состояние дома"
                            name="object-not">
                        <label for="object-not_3" class="radio-primary__label">
                            <span class="radio-primary__text">Состояние дома</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="object-not_4" class="radio-primary__input" type="radio"
                            value="Инфраструктура (садики,школы,магазины,ТЦ и тд.)" name="object-not">
                        <label for="object-not_4" class="radio-primary__label">
                            <span class="radio-primary__text">Инфраструктура (садики,школы,магазины,ТЦ и тд.)</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="object-not_5" class="radio-primary__input" type="radio"
                            value="Транспортная доступность" name="object-not">
                        <label for="object-not_5" class="radio-primary__label">
                            <span class="radio-primary__text">Транспортная доступность</span>
                        </label>
                    </div>
                    <div class="radio-primary__item">
                        <input hidden id="object-not_6" class="radio-primary__input" type="radio" value="Другое"
                            name="object-not">
                        <label for="object-not_6" class="radio-primary__label">
                            <span class="radio-primary__text">Другое</span>
                        </label>
                    </div>
                </div>
                <label class="object-not-popup__textarea textarea-primary">
                    <textarea class="input-reset textarea-primary__input" placeholder></textarea>
                    <span class="textarea-primary__span">Расскажите подробнее в чем проблема</span>
                </label>
                <button type="submit" class="btn btn-reset btn-primary object-not-popup__btn js-popup-close"
                    data-mobile-speed disabled data-popup-path="thanks">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>



